.text-FDE5E9 {
  color: $color-FDE5E9;
}

.text-88B3DA {
  color: $color-88B3DA;
}

.text-2F2F2F {
  color: $color-2F2F2F;
}

.text-EACAB7 {
  color: $color-EACAB7;
}

.text-FFECBC {
  color: $color-FFECBC;
}

.text-FFDDE2 {
  color: $color-FFDDE2;
}

.text-E4F7EC {
  color: $color-E4F7EC;
}

.text-FFD7B5 {
  color: $color-FFD7B5;
}

.text-F9AFBD {
  color: $color-F9AFBD;
}

.text-505050 {
  color: $color-505050;
}

.text-707070 {
  color: $color-707070;
}

.text-EAF2F9 {
  color: $color-EAF2F9;
}

.bg-FDE5E9 {
  background-color: $color-FDE5E9;
}

.bg-88B3DA {
  background-color: $color-88B3DA;
}

.bg-2F2F2F {
  background-color: $color-2F2F2F;
}

.bg-EACAB7 {
  background-color: $color-EACAB7;
}

.bg-FFECBC {
  background-color: $color-FFECBC;
}

.bg-FFDDE2 {
  background-color: $color-FFDDE2;
}

.bg-E4F7EC {
  background-color: $color-E4F7EC;
}

.bg-FFD7B5 {
  background-color: $color-FFD7B5;
}

.bg-F9AFBD {
  background-color: $color-F9AFBD;
}

.bg-505050 {
  background-color: $color-505050;
}

.bg-707070 {
  background-color: $color-707070;
}

.bg-EAF2F9 {
  background-color: $color-EAF2F9;
}

.font10 {
  font-size: $font10;
}

.font14 {
  font-size: $font14;
}

.font15 {
  font-size: $font15;
}

.font17 res-font16 {
  font-size: $font17;
}

.font21 {
  font-size: $font21;
}

.font22 {
  font-size: $font22;
}

.font32 {
  font-size: $font32;
}

.font51 {
  font-size: $font51;
}

.font77 {
  font-size: $font77;
}

.font97 {
  font-size: $font97;
}

.font155 {
  font-size: $font155;
}

.leading12 {
  line-height: $leading12;
}

.leading22 {
  line-height: $leading22;
}

.leading17 {
  line-height: $leading17;
}

.leading26 {
  line-height: $leading26;
}

.leading28 {
  line-height: $leading28;
}

.leading30 {
  line-height: $leading30;
}

.leading37 {
  line-height: $leading37;
}

.leading83 {
  line-height: $leading83;
}

.leading85 {
  line-height: $leading85;
}

.leading76 {
  line-height: $leading76;
}

.leading61 {
  line-height: $leading61;
}

.leading97 {
  line-height: $leading97;
}

.leading95 {
  line-height: $leading95;
}

.leading107 {
  line-height: $leading107;
}

.leading117 {
  line-height: $leading117;
}

.leading137 {
  line-height: $leading137;
}

.spacing-0_17 {
  letter-spacing: $spacing-0_17;
}

.radius8 {
  border-radius: $radius8;
}

.radius20 {
  border-radius: $radius20;
}

.radius10 {
  border-radius: $radius10;
}

.radius50 {
  border-radius: $radius50;
}

.radius30 {
  border-radius: $radius30;
}

.radius40 {
  border-radius: $radius40;
}

.opacity32 {
  opacity: $opacity32;
}

.border-505050 {
  border-color: $color-505050 !important;
}

@include media-breakpoint-down(lg) {
  .res-font10 {
    font-size: $font10;
  }

  .res-font14 {
    font-size: $font14;
  }

  .res-font15 {
    font-size: $font15;
  }

  .res-font17 res-font16 {
    font-size: $font17;
  }

  .res-font21 {
    font-size: $font21;
  }

  .res-font22 {
    font-size: $font22;
  }

  .res-font32 {
    font-size: $font32;
  }

  .res-font77 {
    font-size: $font77;
  }

  .res-font97 {
    font-size: $font97;
  }

  .res-font155 {
    font-size: $font155;
  }

  .res-font16 {
    font-size: $res-font16;
  }

  .res-font18 {
    font-size: $res-font18;
  }

  .res-font20 {
    font-size: $res-font20;
  }

  .res-font26 {
    font-size: $res-font26;
  }

  .res-font28 {
    font-size: $res-font28;
  }

  .res-font30 {
    font-size: $res-font30;
  }

  .res-font32 {
    font-size: $res-font32;
  }

  .res-font34 {
    font-size: $res-font34;
  }

  .res-font40 {
    font-size: $res-font40;
  }

  .res-font60 {
    font-size: $res-font60;
  }

  .res-font80 {
    font-size: $res-font80;
  }

  .res-leading12 {
    line-height: $leading12;
  }

  .res-leading22 {
    line-height: $leading22;
  }

  .res-leading17 {
    line-height: $leading17;
  }

  .res-leading26 {
    line-height: $leading26;
  }

  .res-leading28 {
    line-height: $leading28;
  }

  .res-leading30 {
    line-height: $leading30;
  }

  .res-leading37 {
    line-height: $leading37;
  }

  .res-leading83 {
    line-height: $leading83;
  }

  .res-leading85 {
    line-height: $leading85;
  }

  .res-leading76 {
    line-height: $leading76;
  }

  .res-leading61 {
    line-height: $leading61;
  }

  .res-leading97 {
    line-height: $leading97;
  }

  .res-leading95 {
    line-height: $leading95;
  }

  .res-leading107 {
    line-height: $leading107;
  }

  .res-leading117 {
    line-height: $leading117;
  }

  .res-leading137 {
    line-height: $leading137;
  }

  .res-leading28 {
    line-height: $res-leading28;
  }

  .res-leading30 {
    line-height: $res-leading30;
  }

  .res-leading36 {
    line-height: $res-leading36;
  }

  .res-leading38 {
    line-height: $res-leading38;
  }

  .res-leading40 {
    line-height: $res-leading40;
  }

  .res-leading42 {
    line-height: $res-leading42;
  }

  .res-leading44 {
    line-height: $res-leading44;
  }

  .res-leading50 {
    line-height: $res-leading50;
  }

  .res-leading70 {
    line-height: $res-leading70;
  }

  .res-leading90 {
    line-height: $res-leading90;
  }

  .spacing-0_17 {
    letter-spacing: $spacing-0_17;
  }

  .res-radius0 {
    border-radius: $res-radius0;
  }

  .res-radius8 {
    border-radius: $radius8;
  }

  .res-radius20 {
    border-radius: $radius20;
  }

  .res-radius10 {
    border-radius: $radius10;
  }

  .res-radius50 {
    border-radius: $radius50;
  }

  .res-radius30 {
    border-radius: $radius30;
  }

  .res-radius40 {
    border-radius: $radius40;
  }
}
