.card-hover {
  .img {
    transform: scale(1);
    transition: 0.3s all ease-in-out;
  }

  &:hover {
    .img {
      transform: scale(1.1);
    }
  }
}

.news-cards {
  .latest-news-img {
    height: 428px;
  }
}

.flavour-slider {
  .flavour-card {
    height: 435px;

    .flavour-img {
      height: 400px;
    }

    .flavour-button {
      bottom: -80px;
    }

    &:hover {
      .flavour-button {
        bottom: 34px;
      }


    }
  }
}