form {
    input {
        &.white-input {
            height: 61px;

            &::placeholder {
                font-size: $font17;
                line-height: $leading28;
                font-family: "hvdtrial_brandon_text_regular";
                color: $color-2F2F2F !important;
            }
        }
    }
}