.flavour-slider {
  .slick-list {
    overflow: visible;
    .slick-track {

      .slick-slide {
        padding-inline: 8px;
      }
    }
  }
}
.latest-news-slider {
    .slick-list {
        margin-inline: -8px;

        .slick-slide {
            padding-inline: 8px;
        }
    }
}

.latest-news-slider {
    .slick-list {
        overflow: visible !important;
    }
}

.center-img-content-section {
    .slick-arrows {

        .prev-arrow,
        .next-arrow {
            background-color: $white;
            border-radius: 6px;
            height: 50px;
            width: 57px;

            img {
                height: 15px;
            }
        }
    }
}
