.national-img-section {
  .national-img {
    height: 655px;

    @include media-breakpoint-down(lg) {
      height: 285px;
    }
  }
}

.map-section {
  .map-content {
    height: 482px;

    @include media-breakpoint-down(lg) {
      height: 250px;
    }
  }
}
