.center-img-content-section {
    .center-img-section-img {
        height: 746px;
    }
}

.right-img-section {
    .right-img {
        height: 660px;
    }
}

.left-img-section {
    .left-img {
        height: 619px;
    }
}