.news-cards-section {
    .filter-button {
        height: 61px;
        background-color: transparent;
        border: none;
        padding-inline: 35px;
    
        &.active {
            background-color: $white;
        }
    }
}